/clashroyale/nbproject/private/
/clash royakle/nbproject/private/
/clash royakle/dist/
/clash royakle/build/
/CLASHROYALEiFCHAR/nbproject/private/
/switchdiasdelasemana/nbproject/private/
/switchdias de la semna/nbproject/private/
/switchdias de la semna/build/
/diasdelasemana/nbproject/private/
/diasdelasemana/build/
/exercici18/nbproject/private/
/class ejercici18/nbproject/private/
/class ejercici18/build/
/mi ejercicio18/nbproject/private/
/algoritmoimpuestosnomina/nbproject/private/
